@model PagedList.IPagedList<BookManagement.Models.Book>
@using PagedList.Mvc;
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <li class="col-lg-12">
        <div class="row">
            <input type="text" class="searchField" value="@ViewBag.SearchString" name="searchkey">
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>

    </li>
}